<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Box Store || SHOP NOW</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h1><a href="/"> SHOP HERE</a></h1>
        <ul class="">
          <a href="/message"> <li class="items">Message</li> </a>
          <a href="/about"> <li class="items">About</li> </a>
          <a href="/services"> <li class="items">Services</li> </a>
        </ul>
      </nav>
    </header>
  </body>
</html>
