<%- include("partials/header") %>
<div class="servicesContainer">
    <h1>Our Servcices</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, tempora ex harum perferendis deleniti consequatur corporis quas ipsa similique sed recusandae eaque velit sapiente ea rerum molestias atque voluptas suscipit mollitia temporibus itaque? Perspiciatis dolore reprehenderit enim ratione quia id tempora voluptas atque impedit sint, quos libero veritatis recusandae. Minus.</p>
</div>
<%- include("partials/footer") %>