* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
  height: 10%;
  width: 100%;
}
form {
  height: 70%;
  width: 70%;
  background: rgb(238, 235, 229);
  display: block;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 0.5rem;
}
input {
  display: block;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

::placeholder {
  color: slateblue;
}

button {
  display: block;
  padding: 7px 19px;
  margin: auto;
  border: none;
  background: #000;
  color: white;
}

button:hover {
  opacity: 0.8;
}

header {
  background: rgb(224, 221, 221);
  color: #000;
  height: 5rem;
  width: 100%;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
li,
a {
  list-style: none;
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  letter-spacing: 0.2;
  transition: all 0.5s ease;
}

a:hover {
  color: slateblue;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000;
  color: white;
  height: 8vh;
}

footer p {
  text-align: center;
}

.productContainer {
  margin: 2rem;
  padding: 1rem;
  background: rgb(143, 140, 163);
  border-radius: 0.5rem;
  width: 80%;
  margin: 2rem auto;
}

.productContainer h1 {
  color: white;
  text-align: center;
}

.servicesContainer,
.aboutContainer {
  margin: 2rem;
  padding: 1rem;
  background: rgb(143, 140, 163);
  border-radius: 0.5rem;
  width: 80%;
  margin: 2rem auto;
}

.servicesContainer h1,
.aboutContainer h1 {
  color: white;
  text-align: center;
}
.productItem {
  margin-bottom: 1rem;
  border: 1px solid grey;
  border-radius: .5rem;
  background: orange;
  text-align: center;
}
img {
  height: 180px;
  width: 180px;
  display: block;
  object-fit: contain;
  margin: auto;
}